<!--/* splitsection - component 3  */-->

<div class="splitSection">
  <div class="splitSection__image">
    <img src=${properties.fileReference} alt=${properties.alt} />
  </div>
  <div class="splitSection__content">
    <div class="splitSection__content--headings">
      <h3 class="splitSection__content--headings--one">${properties.subtitle}</h3>
      <h1 class="splitSection__content--headings--two">
      ${properties.title}
      </h1>
    </div>
    <p class="splitSection__content--para">
    ${properties.description}
    </p>
    <a href=${properties.buttonlinkURL} class="splitSection__content--btn"><p class="splitSection__content--btn">${properties.buttontext} →</p></a>
  </div>
</div>
