.sub-header-two {
    height: 10vh;
    padding: 1rem 10rem 1rem 10rem;
    justify-content: space-between;
    background-color: #98262a;
  
    &__content {
      .logo-img {
        margin-top: 1rem;
  
      }
      display: flex;
      justify-content: space-between;
      i {
        width: 4rem;
        height: 2.5rem;
        margin-top: 1.5rem;
        color: white;
        @media (max-width:500px) {
          
          margin-bottom: 1rem;
                  }
      }
    }
  
    @media (max-width: 500px) {
      width: 400px;
      height:50px;
      padding: 0px 16px 0px 16px;
      justify: space-between;
  
      .logo-img{
          width: 86px;
          height: 40px;
      }
    }
  }