

@import "variables";
@import 'mixin' ; 

.sub-header-two {
  // display: flex;
  max-width: 100vw;
  @include flex-centre;
  // justify-content: space-between;
  background-color: $color7;

  &__content {
    display: flex;
    width: 100%;
    padding: 1rem 6rem;
    // align-items: center;
    justify-content: space-between;

    .logo-img {
      padding: 1rem;
    }

    i {
      width: 56px;
      height: 37px;
      margin-top: 25px;
      color: $color1;
    }


  }

  @media screen and (max-width: 1024px) {
    padding: 1 2rem;

    &__content {

       .menu-icon{
        // margin-top: 1rem;
        @include flex-centre ; 
      }
      // .logo-img {
      //   margin-top: 10px;
      //   width: 80px;
      //   height: 35px;
      // }
      
      // i {
      //   width: 50px;
      //   height: 35px;
      //   margin-top: 20px;
      // }
      
        @media screen and (max-width: 768px) {
          padding: 1rem 3.5rem;
        }
        @media screen and (max-width: 500px) {
          padding: 1rem 2rem;
        }
        @media screen and (max-width: 470px) {
          padding: 1rem 2rem;
        }
    }
  }

  // @media screen and (max-width: 600px) {
  //   padding: 1rem 2rem;
  //   // flex-direction: column;
  //   align-items: center;
    
  //   &__content {
  //     // flex-direction: column;

  //     .logo-img {
  //       width: 60px;
  //       height: 25px;
  //       margin-bottom: 10px;
  //     }

  //     i {
  //       width: 40px;
  //       height: 25px;
  //       margin-top: 10px;
  //     }
  //   }
  // }
 
}


.header-menu-icon{
  @include flex-centre ; 
}