

@import "_variables";
.splitSection {
  display: flex;
  position: relative;
  height: 100%;
  // padding: 6rem 0;
  padding: 4rem 6rem 4rem 0; //three
  background-color: $color1;

  margin-top: 20px;
  &__image img {
    height: 600px;
    width: 600px;
  }
  &__content {
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    &--headings {
      padding: 1rem;
      position: relative;
      background-color: $color1;
      right: 22%;
      //  height: 21vh;

      &--one {
        color: $color12;
        font-size: 1.8rem;
        font-style: italic;
        font-weight: 700;
        margin: 0 0 .7rem;
      }
      &--two {
        // margin: 0;
        line-height: 81px;
        
        color: $color2;
        
        // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        //   sans-serif;

          font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    margin-top: -1rem;
    margin-bottom: -0;
      }
    }
    &--para {
      color: $color3;
      line-height: 1.6;
      margin-bottom: 30px;
      font-size: 1.8rem;
      font-family: Arial, Helvetica, sans-serif;

      @media (max-width: 500px) {
        font-size: 1rem;
      }
    }
    &--btn {
      display: inline-block;
      padding: 12px 24px;
      background-color: $color4;
      color: $color1;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s;
      align-self: flex-start;
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;

      &:hover {
        background-color: $color5;
      }
    }
  }
}

@media (max-width: 1200px) {
  .splitSection {
    padding: 4rem 0 4rem 0; //three
    flex-direction: column;
    height: auto;
  }

  .splitSection__image img {
    // height: 200px;
    width: 100%;
  }

  .splitSection__content {
    padding: 20px;
    flex-wrap: wrap;
  }

  .splitSection__content--headings {
    position: relative;
    right: auto;
    bottom: auto;
  }
}

@media (max-width: 500px) {
  .splitSection__image img {
    height: 21rem;
    width: 100%;
  }
}

@media (max-width: 590px) {
  .splitSection {
    flex-direction: column;
    height: auto;
    margin: 0; //one
    padding : 0 ; //two
  }

  .splitSection__image {
    order: -1;
  }
  .splitSection__image img {
    height: 30vh;
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .splitSection__content {
    padding: 1.5rem;
    flex-wrap: wrap;
    order: 1;
  }

  .splitSection__content--headings {
    position: relative;
    right: auto;
    left: -2rem;
    bottom: 3rem;
  }

  .splitSection__content--para {
    font-size: 1.1rem;
    margin-top: -2rem;
  }

  .splitSection__content--btn {
    padding: 0.8rem 1.6rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .splitSection__image img {
    height: 21rem;
    width: 100%;
    // background: url();
  }
}
