@mixin heading-style($font-size, $color , $margin-top) {
    font-size: $font-size;
    color: $color;
    margin-top:$margin-top ; 
  }
  

  @mixin flex-centre{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex-direction($display , $flex-direction , $align-item ){
display: $display;
flex-direction: $flex-direction ;
align-items: $align-item;
  }


  @mixin flex-content($display , $justify-content ){
    display: $display;
   justify-content: $justify-content;
      }