<footer class="footer">
  <header class="footer__top">
    <div class="footer__top--logo">
      <div class="footer__top--logo-logoImg">
        <div
          data-sly-resource="${'customimage1' @ resourceType='wknd/components/customimage' , selectors='logo'}"></div>
      </div>
    </div>
    <div class="footer__top--Right">
      <div class="footer__top--Right-socialIcons">
        <div data-sly-resource="${'icon1' @ resourceType='wknd/components/footericon'}"></div>
        <div data-sly-resource="${'icon2' @ resourceType='wknd/components/footericon'}"></div>
        <div data-sly-resource="${'icon3' @ resourceType='wknd/components/footericon'}"></div>
        <div data-sly-resource="${'icon4' @ resourceType='wknd/components/footericon'}"></div>
        <div data-sly-resource="${'icon5' @ resourceType='wknd/components/footericon'}"></div>
      </div>
      <div class="footer__top--Right-contactInfo">
        <div class="footer__top--Right-contactInfo__location">
          <!--/* <p>Location icon</p> */-->
          <div
            data-sly-resource="${'icon12' @ resourceType='wknd/components/icon', selectors='locationicon'}"
          ></div>
          <p>${properties.branchaddress}</p>
        </div>
        <div class="footer__top--Right-contactInfo__email">
          <div
            data-sly-resource="${'icon6' @ resourceType='wknd/components/icon', selectors='emailicon'}"
          ></div>
          <p>${properties.email}</p>
        </div>
      </div>
    </div>
  </header>
 
    <div
      data-sly-resource="${'footerlist1' @ resourceType='wknd/components/footerlist', selectors='footertop'}"
    ></div>
 
  <div class="footerBottom">
  <div class="footerBottom__logo">
  <div
  data-sly-resource="${'logo' @ resourceType='wknd/components/icon', selectors='icon'}"
></div>
</div>
    <div class="footerBottom__menu">
      <div
        data-sly-resource="${'footerlist2' @ resourceType='wknd/components/footerlist', selectors='footeraccordian'}"
      ></div>
      <div
        data-sly-resource="${'footerlist3' @ resourceType='wknd/components/footerlist', selectors='footeraccordian'}"
      ></div>
      <div
        data-sly-resource="${'footerlist4' @ resourceType='wknd/components/footerlist', selectors='footeraccordian'}"
      ></div>
      <div
        data-sly-resource="${'footerlist5' @ resourceType='wknd/components/footerlist', selectors='footeraccordian'}"
      ></div>
      <div class="footerBottom__menu--column lastCol">
        <div class="footerBottom__menu--column-last">
          <input class="footerBottom__menu--column-last__input" />
          <button class="footerBottom__menu--column-last__button">
            Submit
          </button>
        </div>
        <p class="follow">Follow Us</p>
        <div class="footerBottom__menu--column-icons">
          <div
            data-sly-resource="${'icon7' @ resourceType='wknd/components/footericon', selectors='mediaicon'}"
          ></div>
         
          <div
            data-sly-resource="${'icon8' @ resourceType='wknd/components/footericon', selectors='mediaicon'}"
          ></div><div
          data-sly-resource="${'icon9' @ resourceType='wknd/components/footericon', selectors='mediaicon'}"
        ></div><div
        data-sly-resource="${'icon10' @ resourceType='wknd/components/footericon', selectors='mediaicon'}"
      ></div><div
      data-sly-resource="${'icon11' @ resourceType='wknd/components/footericon', selectors='mediaicon'}"
    ></div>
        </div>
        <div class="footerBottom__menu--column__footerSplit">
         <div
      data-sly-resource="${'image1' @ resourceType='wknd/components/footerimage', selectors='leftimage'}"
    ></div>
        <div
      data-sly-resource="${'image2' @ resourceType='wknd/components/footerimage', selectors='rightimage'}"
    ></div>
        </div>
      </div>
    </div>
    <div class="footerBottom__description"> <div
    data-sly-resource="${'address' @ resourceType='wknd/components/address'}"
  ></div>
  </div>
    <hr />
    <div class="footerBottom__final">
      <div class="footerBottom__final--left">
        <p>Terms and Condition</p>
        <p>Privacy Policy</p>
      </div>
      <div class="footerBottom__final--right">
        <p>Copyright 2024</p>
      </div>
    </div>
  </div>
</footer>
 



