csr programs

<div class="contentSection">
<h1 class='contentSection__subHeader'>${properties.preheading}</h1>
<h2 class="contentSection__headingMain">${properties.heading}</h2>
<p class="contentSection__middleText">${properties.content}</p>
<div class="contentSection__content">
    <div class="contentSection__content--image-wrapper">
        <img class="image" src="./assets/awards.png" alt="Group photo of women in blue uniforms">
    </div>
    <div class="contentSection__content--data-wrapper">
        <h3 class="contentSection__content--data-wrapper__heading">Holistic Rural Development</h3>
        <p class="contentSection__content--data-wrapper__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea .Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
        <p class="contentSection__content--data-wrapper__paragraph">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
        <a href="#" class="cta-button">View Our CSR Programs →</a>
    </div>
</div>


<div class="contentSection__imageGallery">
   
    <div class="gallery-items-wrapper">
        <div class="gallery-item">
            <img src="./assets/women.jpg" alt="Group photo 1"  class='gallery-item__image'>
            <p class='gallery-item__caption'>Sustainable Environment & Water Stewardship</p>
        </div>
        <div class="gallery-item">
            <img src="./assets/women.jpg" alt="Group photo 2" class='gallery-item__image'>
            <p class='gallery-item__caption'>Sustainable Environment & Water Stewardship</p>
        </div>
        <div class="gallery-item">
            <img src="./assets/women.jpg" alt="Group photo 3 " class='gallery-item__image' >
            <p class='gallery-item__caption'>Sustainable Environment & Water Stewardship</p>
        </div>
        <div class="gallery-item">
            <img src="./assets/women.jpg" alt="Group photo 4 " class='gallery-item__image'>
            <p class='gallery-item__caption'>Sustainable Environment & Water Stewardship</p>
        </div>
        <div class="gallery-item">
            <img src="./assets/women.jpg" alt="Group photo 5 " class='gallery-item__image'>
            <p class='gallery-item__caption'>Sustainable Environment & Water Stewardship</p>
        </div>
        <div class="gallery-item">
            <img src="./assets/women.jpg" alt="Group photo 6 " class='gallery-item__image'>
            <p class='gallery-item__caption'>Sustainable Environment & Water Stewardship</p>
        </div>
        <div class="gallery-item">
            <img src="./assets/women.jpg" alt="Group photo 7 " class='gallery-item__image'>
            <p class='gallery-item__caption'>Sustainable Environment & Water Stewardship</p>
        </div>
    </div>
</div>

<div class="contentSection__navigation">
    <button class="contentSection__navigation--nav-button navigation__nav-button--prev">←</button>
    <button class="contentSection__navigation--nav-button navigation__nav-button--next">→</button>
</div>

</div>     