<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-test.heading="${properties.heading}">
<div class="contentSection">
    <div class="contentSection__headings">
        <h3 class="contentSection__headings__subHeader">${properties.preheading}</h3>
        <h1 class="contentSection__headings__headingMain">${properties.heading}</h1>
    </div>
   
        <p class="contentSection__middleText">
           ${properties.content}
        </p>
        <div class="contentSection__content">
            <div class="contentSection__content--image-wrapper">
            <img class="image" src="/content/dam/indusind/women.jpg" alt="Group photo of women in blue uniforms" />
            </div>
            <div class="contentSection__content--data-wrapper">
                <h3 class="contentSection__content--data-wrapper__heading">
                    Holistic Rural Development
                </h3>
                <p class="contentSection__content--data-wrapper__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea .Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea
                </p>
                <p class="contentSection__content--data-wrapper__paragraph">
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                </p>
                <a href=${properties.buttonlinkURL} class="cta-button">${properties.buttontext} →</a>
            </div>
        </div>
 
        <div class="contentSection__imageGallery">
            <div class="gallery-items-wrapper">
             <sly data-sly-list="${resource.listChildren}">
   		      <sly data-sly-test="${item.name == 'assets'}">
                <sly data-sly-list.program="${item.listChildren}">
                <div class="gallery-item">
                    <img src=${program.fileReference} alt=${program.alt} class="gallery-item__image" />
                    <p class="gallery-item__caption">
                        ${program.caption}
                    </p>
                    <p class="gallery-item__desc">
                        ${program.description}
                    </p>
                </div>
              </sly>
           </sly>
         </sly>
       </div>
     </div>
 
        <div class="contentSection__navigation">
            <button class="contentSection__navigation--nav-button navigation__nav-button--prev">
                ←
            </button>
            <button class="contentSection__navigation--nav-button navigation__nav-button--next">
                →
            </button>
        </div>
    </div>
    
    </sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !heading }"></sly>