<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" />
<sly data-sly-test.text="${properties.title}">
  <div class="value-item">
    <img src="./assets/coreVector.png" alt="icon" class="value-item__icon" />
    <div class="value-item__text">
      <h2 class="value-item__text--heading">${properties.title}</h2>
      <p class="value-item__text--paragraph">${properties.description}</p>
    </div>
  </div>
</sly>

<sly data-sly-call="${templates.placeholder @ isEmpty = !text}"></sly>
